//色
$hover-color:#ef8f9c;
$background:#FFEDF0;
$second-back: #FFF7B8;
$text:#55000C;
$second-text:#333333;
$white:#fff;


//フォント
$kosugi-maru: "Kosugi Maru", sans-serif;
$yusei: "Yusei Magic", sans-serif;
$jost: "Jost", sans-serif;
$marcellus: "Marcellus", serif;
//ブレイクポイント

//トランジション
$transition: 0.3s all ease;